# ------------------------------------ Cluster ------------------------------------
cluster.name: {{ es_cluster_name }}

# ------------------------------------ Node ------------------------------------
node.name: {{ es_node_name }}

# Add custom attributes to the node:
#node.attr.rack: r1

# ----------------------------------- Paths ------------------------------------
path.data: {{ es_data_dir }}
path.logs: {{ es_log_dir }}

action.auto_create_index: {{ es_action_auto_create }}

# ----------------------------------- Memory -----------------------------------
bootstrap.memory_lock: {{ es_bootstrap_memory_lock }}

#
# Make sure that the heap size is set to about half the memory available
# on the system and that the owner of the process is allowed to use this
# limit.
#
# Elasticsearch performs poorly when the system is swapping the memory.
#
# ---------------------------------- Network -----------------------------------
network.host: {{ es_network_host }}
http.port: {{ es_http_port }}

# --------------------------------- Discovery ----------------------------------
transport.port: {{ es_transport_port }}
discovery.seed_hosts: ["10.1.207.180:9010", "10.1.207.181:9010","10.1.207.182:9010"]

# Bootstrap the cluster using an initial set of master-eligible nodes:
cluster.initial_master_nodes: ["node-180", "node-181", "node-182"]

# ---------------------------------- Gateway -----------------------------------
# Block initial recovery after a full cluster restart until N nodes are started:
#gateway.recover_after_nodes: 3

# ---------------------------------- Various -----------------------------------
# Require explicit names when deleting indices:
#action.destructive_requires_name: true

# ---------------------------------- Security -----------------------------------
#xpack.security.enabled: {{ es_xpack_security_enabled }}
#{% if es_enable_transport_ssl and es_enable_auto_ssl_configuration %}
#xpack.security.transport.ssl.enabled: true
#xpack.security.transport.ssl.verification_mode: "{{ es_ssl_verification_mode }}"
#{% if es_ssl_keystore and es_ssl_truststore %}
#xpack.security.transport.ssl.keystore.path: "{{ es_ssl_certificate_path }}/{{ es_ssl_keystore | basename }}"
#xpack.security.transport.ssl.truststore.path: "{{ es_ssl_certificate_path }}/{{ es_ssl_truststore | basename }}"
#{% elif es_ssl_key and  es_ssl_certificate %}
#xpack.security.transport.ssl.key: "{{ es_ssl_certificate_path }}/{{ es_ssl_key | basename }}"
#xpack.security.transport.ssl.certificate: "{{ es_ssl_certificate_path }}/{{ es_ssl_certificate | basename }}"
#{% if es_ssl_certificate_authority %}
#xpack.security.transport.ssl.certificate_authorities: "{{ es_ssl_certificate_path }}/{{ es_ssl_certificate_authority | basename }}"
#{% endif %}
#{% endif %}
#{% endif %}

# ---------------------------------- Customs -----------------------------------
indices.memory.index_buffer_size: 50%
indices.queries.cache.size: 30%

thread_pool.search.queue_size: 10000
thread_pool.get.queue_size: 1000
thread_pool.write.queue_size: 10000
