#!/bin/bash
unset JAVA_HOME

# Fix log4j2 0-day exploit https://github.com/elastic/elasticsearch/issues/81618
export ES_JAVA_OPTS="$ES_JAVA_OPTS -Dlog4j2.formatMsgNoLookups=true"

case "$1" in
start)
  if [ -e {{ es_log_dir }}/elasticsearch.pid ]
  then
    pid=`ps ax | grep -i $(cat {{ es_log_dir }}/elasticsearch.pid) | grep -v grep | awk '{print $1}'`
    if [ -n "$pid" ]
    then
      echo "Elasticsearch is already running"
      exit 1
    fi
  fi
  echo "Starting Elasticsearch"
  nohup {{ es_home_dir }}/{{ es_tar_unzip_dir }}/bin/elasticsearch -d -p {{ es_log_dir }}/elasticsearch.pid >/dev/null 2>&1
;;

stop)
  echo "Shutting down Elasticsearch"
  if [ -e {{ es_log_dir }}/elasticsearch.pid ]
  then
    kill -9 $(cat {{ es_log_dir }}/elasticsearch.pid && echo)
  else
    if [[ $(ps aux | grep '[b]in/elasticsearch' | wc -l) != 0 ]]; then
      kill -9 $(ps aux | grep '[b]in/elasticsearch' | awk '{print $2}')
    fi
  fi
;;

restart)
  $0 stop
  sleep 2
  $0 start
;;

status)
  pid=`ps ax | grep -i '[/]opt/elasticsearch' | grep -v grep | awk '{print $1}'`
  if [ -n "$pid" ]
  then
    echo "Elasticsearch is Running as PID: $pid"
  else
    echo "Elasticsearch is not Running"
  fi
  ;;

*)
  echo "Usage: $0 {start|stop|restart|status}"
  exit 1

esac

exit 0
