#!/bin/bash

source ~/.bashrc

echo 'Kill IoTDB Process'
$HOME/iotdb.sh stop

echo 'Delete IoTDB unzip directory'
rm -rf {{ iotdb_home_dir }}/{{ iotdb_tar_unzip_dir }}

echo 'Delete IoTDB Data directory'
rm -rf {{ iotdb_conf_dir }}
rm -rf {{ iotdb_data_dirs | join(' ') }}
rm -rf {{ iotdb_logs_dir }}
rm -rf {{ iotdb_wal_dir }}
rm -rf {{ iotdb_tracing_dir }}
rm -rf {{ iotdb_index_dir }}
rm -rf {{ iotdb_system_dir }}

rm -rf $HOME/iotdb_uninstall.sh
rm -rf $HOME/iotdb.sh
