#!/bin/bash

case "$1" in
start)
  if [ -e {{ redis_log_dir }}/redis.pid ]
  then
    pid=`ps ax | grep -i $(cat {{ redis_log_dir }}/redis.pid) | grep -v grep | awk '{print $1}'`
    if [ -n "$pid" ]
    then
      echo "Redis is already running"
      exit 1
    fi
  fi
  echo "Starting Redis"
  {{ redis_bin_dir }}/redis-server {{ redis_conf_dir }}/redis.conf
;;

stop)
  echo "Shutting down Redis"
  kill $(cat {{ redis_log_dir }}/redis.pid && echo)
;;

restart)
  $0 stop
  sleep 2
  $0 start
;;

*)
  echo "Usage: $0 {start|stop|restart}"
  exit 1
  esac

exit 0
