#!/bin/bash

set -e

source ~/.bash_profile

echo 'kill MySQL Router'
if [[ $(ps aux | grep '[b]in/mysqlrouter' | wc -l) != 0 ]]; then
  kill -9 $(ps aux | grep '[b]in/mysqlrouter' | awk '{print $2}')
fi

echo 'kill MySQL'
if [[ $(ps aux | grep '[b]in/mysqld_safe' | wc -l) != 0 ]]; then
  kill -9 $(ps aux | grep '[b]in/mysqld_safe' | awk '{print $2}')
fi
if [[ $(ps aux | grep '[b]in/mysqld' | wc -l) != 0 ]]; then
  kill -9 $(ps aux | grep '[b]in/mysqld' | awk '{print $2}')
fi

echo 'Delete ~/.my.cnf file'
rm -rf $HOME/.my.cnf

echo 'Delete MySQL startup script'
rm -rf $HOME/mysql.server

echo 'Delete MySQL router startup script'
rm -rf $HOME/mysql_router_start.sh

echo 'Delete MySQL router stop script'
rm -rf $HOME/mysql_router_stop.sh

echo 'Delete MySQL data files'
rm -rf {{ mysql_run_dir }}
rm -rf {{ mysql_log_dir }}
rm -rf {{ mysql_data_dir }}
rm -rf {{ mysql_dump_dir }}
rm -rf {{ mysql_script_dir }}
rm -rf {{ mysql_fast_data_dir }}
rm -rf {{ mysql_fast_binlog_dir }}
rm -rf {{ mysql_fast_relaylog_dir }}
rm -rf {{ mysql_router_dir }}

echo 'Delete MySQL unzip directory'
rm -rf {{ mysql_home_dir }}/{{ mysql_tar_unzip_dir }}
rm -rf {{ mysql_home_dir }}/{{ mysql_shell_tar_unzip_dir }}
rm -rf {{ mysql_home_dir }}/{{ mysql_router_tar_unzip_dir }}

# echo 'Delete MySQL binary package'
# rm -rf {{ mysql_home_dir }}/*

rm -rf $HOME/mysql_uninstall.sh
