#!/bin/bash

set -e

source ~/.bash_profile

# stop MySQL router
if [ -f "{{ mysql_home_dir }}/router/mycluster/stop.sh" ]; then
  {{ mysql_home_dir }}/router/mycluster/stop.sh
fi

# stop MySQL server
if [ -f "$HOME/mysql.server" ]; then
  ~/mysql.server stop
fi

# delete ~/.my.cnf file
rm -rf $HOME/.my.cnf

# delete MySQL startup script
rm -rf $HOME/mysql.server

# delete mysql files
rm -rf {{ mysql_run_dir }}
rm -rf {{ mysql_log_dir }}
rm -rf {{ mysql_data_dir }}
rm -rf {{ mysql_dump_dir }}
rm -rf {{ mysql_script_dir }}
rm -rf {{ mysql_fast_data_dir }}
rm -rf {{ mysql_fast_binlog_dir }}
rm -rf {{ mysql_fast_relaylog_dir }}
rm -rf {{ mysql_router_dir }}

# delete mysql program
# rm -rf {{ mysql_home_dir }}/{{ mysql_tar_unzip_dir }}
# rm -rf {{ mysql_home_dir }}/{{ mysql_shell_tar_unzip_dir }}
# rm -rf {{ mysql_home_dir }}/{{ mysql_router_tar_unzip_dir }}

# delete mysql package
# rm -rf {{ mysql_home_dir }}/*
