Client {
   org.apache.zookeeper.server.auth.DigestLoginModule required
   username="{{ zookeeper_authentication.client_server.username }}"
   password="{{ zookeeper_authentication.client_server.password }}";
};
