security.protocol=SASL_PLAINTEXT
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="{{ kafka_jaas.server_server.username }}" password="{{ kafka_jaas.server_server.password }}";
