Server {
   org.apache.zookeeper.server.auth.DigestLoginModule required
   username={{ zookeeper_jaas.server_server.username }}
   password={{ zookeeper_jaas.server_server.password }}
   user_{{ zookeeper_jaas.client_server.username }}="{{ zookeeper_jaas.client_server.password }}";
};

QuorumServer {
   org.apache.zookeeper.server.auth.DigestLoginModule required
   user_{{ zookeeper_jaas.server_server.username }}="{{ zookeeper_jaas.server_server.password }}";
};

QuorumLearner {
   org.apache.zookeeper.server.auth.DigestLoginModule required
   username="{{ zookeeper_jaas.server_server.username }}"
   password="{{ zookeeper_jaas.server_server.password }}";
};
