#!/bin/bash

export JAVA_HOME="{{ kafka_home_dir }}/{{ kafka_tar_unzip_dir }}/{{ java_tar_unzip_dir }}"
export KAFKA_HEAP_OPTS="{{ zookeeper_heap_opts }}"
export KAFKA_JVM_PERFORMANCE_OPTS="{{ zookeeper_jvm_performance_opts }}"

DAEMON_PATH={{ kafka_home_dir }}/{{ kafka_tar_unzip_dir }}/bin
DAEMON_NAME=zookeeper

# Check that networking is up.
#[ ${NETWORKING} = "no" ] && exit 0

PATH=$PATH:$DAEMON_PATH

case "$1" in

start)
  # Start daemon.
  pid=`ps ax | grep -i 'org.apache.zookeeper' | grep -v grep | awk '{print $1}'`
  if [ -n "$pid" ]
  then
  echo "Zookeeper is already running";
  else
  echo "Starting $DAEMON_NAME";
  $DAEMON_PATH/zookeeper-server-start.sh -daemon {{ kafka_home_dir }}/{{ kafka_tar_unzip_dir }}/config/zookeeper.properties
  fi
  ;;

stop)
  echo "Shutting down $DAEMON_NAME";
  $DAEMON_PATH/zookeeper-server-stop.sh
  ;;
  restart)
  $0 stop
  sleep 2
  $0 start
  ;;

status)
  pid=`ps ax | grep -i 'org.apache.zookeeper' | grep -v grep | awk '{print $1}'`
  if [ -n "$pid" ]
  then
  echo "Zookeeper is Running as PID: $pid"
  else
  echo "Zookeeper is not Running"
  fi
  ;;

*)
  echo "Usage: $0 {start|stop|restart|status}"
  exit 1
  esac

exit 0
