#!/bin/bash

echo 'Kill Ignite Process'
$HOME/ignite.sh stop

echo 'Delete Ignite programs'
rm -rf {{ ignite.directory.home }}/{{ ignite.tar_unzip_dir }}

echo 'Delete Ignite datas'
rm -rf {{ ignite.directory.work }}
rm -rf {{ ignite.directory.log }}

echo 'Delete ignite.sh'
rm -rf $HOME/ignite.sh

echo 'Delete ignite_uninstall.sh'
rm -rf $HOME/ignite_uninstall.sh
