#!/bin/bash

set -e

echo 'Kill AntDB Process'
kill $(ps aux | grep '{{ antdb_app_dir }}/bin' | awk '{print $2}')

echo 'Delete AntDB Data Files'
rm -rf {{ antdb_mgr_dir }}
rm -rf {{ antdb_data_dir }}
rm -rf {{ antdb_tools_dir }}
rm -rf {{ antdb_app_dir }}
rm -rf {{ antdb_core_dir }}

rm -rf {{ antdb_home_dir }}/{{ antdb_tar }}

rm -rf $HOME/antdb_uninstall.sh
