#!/bin/bash

echo 'Kill All AntDB Process'
if [[ $(ps aux | grep '[b]in/postgres' | wc -l) != 0 ]]; then
  kill -9 $(ps aux | grep '[b]in/postgres' | awk '{print $2}')
fi

if [[ $(ps aux | grep '[b]in/agent' | wc -l) != 0 ]]; then
  kill -9 $(ps aux | grep '[b]in/agent' | awk '{print $2}')
fi

if [[ $(ps aux | grep '[b]in/adbmgrd' | wc -l) != 0 ]]; then
  kill -9 $(ps aux | grep '[b]in/adbmgrd' | awk '{print $2}')
fi

set -e;

echo 'Delete AntDB Data Files'
rm -rf {{ antdb_mgr_dir }}
rm -rf {{ antdb_data_dir }}
rm -rf {{ antdb_tools_dir }}
rm -rf {{ antdb_app_dir }}
rm -rf {{ antdb_core_dir }}

echo 'Delete AntDB RPM Package'
rm -rf {{ antdb_home_dir }}/{{ antdb_tar }}

echo 'Delete antdb_uninstall.sh'
rm -rf $HOME/antdb_uninstall.sh
